@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #212529;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 30px;
    text-align: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar btn {
    align-items: center;
}

.navbar-title,
span {
    color: #ffb742;
}

.navbar-ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right: 25px;
    transition: 0.3s ease;
}

.navbar ul li a:hover {
    color: #ffb742;
}

.language {
    padding: 10px;
    color: #fff;
    background-color: #212529;
    border: 2px solid #ffb742;
    display: inline-block;
    transition-duration: 0.4s;
    border-radius: 5px;
    cursor: pointer;
}

.language:hover {
    background-color: #ffb742;
    color: #000;
}

.content {
    margin-top: 100px;
}