@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

body{
    height: 100vh;
    background: #212529;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}

.navbar h2{
    color: #ffb742;
    font-weight: 600;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right: 25px;
    transition: color 0.3s ease;
}

.navbar ul li:hover a{
    color: #ffb742;
}

.navbar ul li:last-child a{
    margin: 0;
}

.content {
    margin-top: 10vh;
    font-size: 20px;
}

/*.technologies .icons{
    width: 420px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.technologiess .icons .item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #383e45;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}*/

/*.technologies .icons .item i{
    font-size: 34px;
    color: #fff;
}*/

.item .icon {
    background-color: #383e45;
    padding: 5px;
    border-radius: 5px;
}

.technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hr {
    width:50%; 
    margin-left:25% !important; 
    margin-right:25% !important; 
    border-color:rgb(44, 38, 38);
    border: 0px .4px 0px .4px;
}

.icons {
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;
    background-color: #383e4597;
    border-radius: 5px;
    overflow: hidden;
}
.icons {
    background-color: #383e4597;
    display: flex;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    box-sizing: border-box;
}

.item {
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
}

.item p {
    margin-left: 10px;
    font-size: 16px;
    flex-grow: 1; /* A szöveg kitölti az elérhető teret */
}

.item i {
    font-size: 2em;
}