@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

body{
    height: 100vh;
    background: #212529;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}

.navbar h2{
    color: #ffb742;
    font-weight: 600;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right: 25px;
    transition: color 0.3s ease;
}

.navbar ul li:hover a{
    color: #ffb742;
}

.navbar ul li:last-child a{
    margin: 0;
}

.content {
    margin-top: 10vh;
    font-size: 20px;
}

.technologies .icons{
    width: 420px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.technologiess .icons .item{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #383e45;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.technologies .icons .item i{
    font-size: 34px;
    color: #fff;
}